img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 0 0 0 auto;
    float: right;
}

.center-text {
    vertical-align: middle;
    padding-left: 40%;
}

.box-model {
    margin-top: 100px;
    border: 1px solid black;
    padding: 0px;
}

.highlight {
    color: blue;
}

body {
    background-color: lightgrey;
}

h5 {
    vertical-align: middle;
    padding-left: 40%;
}

* {
    font-style: helvetica;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}